*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 37);
    display: grid;
    place-content: center;
}

img {
    max-width: 90vw;
}
.rotation {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
